@import "tailwindcss";

/* For custom styling individual html items */
@layer base {
  a {
    @apply text-green-500 underline;
  }
}

/* For creating custom classes */
@layer components {
  .menu-button {
    @apply text-white bg-indigo-500 p-3;
  }
}

/* Override the tailwind class styling */
@layer utilities {
  .text-green-500 {
    color: blue;
  }
}
